@font-face {
    font-family: "oldSkool";
    src: url("lettertype.woff2");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "oldSkool";
}

body {
    width: 100%;
    height: 100%;
    background-color: #E1E2D1;
    text-align: center;
}

header {
    position: relative;
    height: 8vh;
    width: 100%;
    background-color: #1E354A;
    color: #A5A4A7;
    top: 0%;
    text-align: center;
    opacity: 0.9;
    line-height: 8vh;
    font-size: 4vh;
    font-weight: bolder;
}

header div {
    line-height: 8vh;
    
    text-decoration: none;
}

#scorecont1 {
    top: 2px;
    width: 47vw;
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    opacity: 0.8;
    font-size: 20px;
}

#scorecont {
    top: 1px;
    width: 47vw;
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    opacity: 0.8;
}

#time1 {
    position: relative;
    left: -26vw;
    border: 1px splid black;
}

#player1 {
    position: relative;
    left: -13vw;
    border: 1px solid black;
}

#highscore {
    border: 1px solid black;
}

#player2 {
    position: relative;
    left: 13vw;
    border: 1px solid black;
}

#scr1 {
    position: relative;
    left: -13vw;
    text-align: center;
}

#scr2 {
    position: relative;
    left: 13vw;
    text-align: center;
}

#time2 {
    position: relative;
    left: -26vw;
    border: 1px splid black;
}

.divtop {
    width: 15vw;
    height: 4vh;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    background-color: #6AA0B2;
    border-radius: 1vh 1vh 1vh 1vh;
    text-align: center;
    line-height: 4vh;
}

.divtop1 {
    width: 15vw;
    height: 4vh;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    background-color: #E1E2D1;
    border-radius: 1vh 1vh 1vh 1vh;
    text-align: center;
    line-height: 4vh;
}

#time {
    display: inline-block;
    position: relative;
    margin-left: 1%;
    margin-right: 1%;
    height: 7vh;
    width: 12vh;
    background-color: #A5A4A7;
    border: 1px solid black;
    border-radius: 1vh 1vh 1vh 1vh;
    text-align: center;
}

#container {
    display: inline-block;
    height: 78vh;
    width: 108vh;
    margin-left: auto;
    margin-right: auto;
    background-color: #A5A4A7;
    opacity: 0.9;
    border-radius: 2vh 2vh 2vh 2vh;
    border: 1px solid black;
    text-align: center;
}

.inputLetter {
    display: inline;
    position: relative;
    width: 12vh;
    height: 12vh;
    font-size: 32px;
    text-align: center;
    border: 1px solid black;
    opacity: 0.9;
    left: -39%;
    margin-left: 1px;
    background-color: #E1E2D1;
    border-radius: 1vh 1vh 1vh 1vh;
}

#wordspace {
    display: inline;
    position: relative;
    margin: auto;
    font-size: 32px;
    text-align: center;
    visibility: hidden;
}

.correct {
    background-color: green;
}

.wrongPlace {
    background-color: yellow;
}

.incorrect {
    background-color: red;
}

#scoreContainer {
    width: 100%;
    text-align: center;
}

.scoreDisplay {
    display: inline-block;
    width: 25%;
    padding: 10px;
}

.scoreDisplay div {
    text-align: center;
}

#buttons {
    position: absolute;
    left: 0;
    bottom: 8vh;
    display: inline;
    width: 100%;
}

.button {
    display: inline-block;
    width: 15vh;
    height: 5vh;
    background-color: #1E354A;
    color: #E1E2D1;
    line-height: 5vh;
    border: 1px solid black;
    border-radius: 1vh 1vh 1vh 1vh;
    font-size: 16px;
}

.button:hover {
    color: #1E354A;
    background-color: #E1E2D1;
}
@media only screen and (max-width:600px) {
    .inputLetter {
        width: 9vh;
        height: 9vh;
    }
    #container {
        width: 100%;
    }
}